<%- include('../port/layout-start.ejs', {title: title}) %>

<body data-bs-theme="dark">
    <%- include("../port/menu.ejs")  %>

    <div class="mt-5 container d-flex justify-content-center">
        <h1><%= title %></h1>
    </div>

    <div class="container">
        <form action="/books/edit/<%- book.id %>" method="POST">
            <label for="title" class="form-label">Название книги</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="title" value="<%- book.title %>">

            <label for="description" class="form-label mt-3">Описание книги</label>
            <input type="text" class="form-control" name="description" id="description" aria-describedby="description" value="<%- book.description %>">

            <label for="book-authors" class="form-label mt-3">Авторы</label>
            <input type="text" class="form-control" name="authors" id="authors" aria-describedby="authors" value="<%- book.authors %>">



            <label for="fileCover" class="form-label mt-5">Обложка книги</label>
            <input type="text" class="form-control" name="fileCover" id="fileCover" aria-describedby="fileCover" value="<%- book.fileCover %>">

            <button type="submit" class="btn btn-info mt-3">Изменить</button>
        </form>
    </div>
</body>

<%- include("../port/layout-end.ejs") %>